PhotoAlbum/PhotoAlbum.Client/PhotoAlbum.WEB/Service References/FileTransferService/FileTransferService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8117/FileTransferService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:8117/FileTransferService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Views.FileTransfer" />
  <xs:import schemaLocation="http://localhost:8117/FileTransferService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ImageUploadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Views.FileTransfer" name="Metadata" nillable="true" type="q2:ImageMetaData" />
  <xs:element name="ImageDownloadRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" name="ImageId" type="q3:guid" />
  <xs:element name="ImageDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="ImageByteStream" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Views.FileTransfer" name="DownloadedImageMetadata" nillable="true" type="q5:ImageMetaData" />
</xs:schema>