PhotoAlbum/PhotoAlbum.Client/PhotoAlbum.WEB/Service References/FileTransferService/FileTransferService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileTransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="basicHttpStream_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8117/FileTransferService.svc?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8117/FileTransferService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8117/FileTransferService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8117/FileTransferService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Views.FileTransfer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ImageUploadRequest">
    <wsdl:part name="parameters" element="tns:ImageUploadRequest" />
  </wsdl:message>
  <wsdl:message name="ImageUploadRequest_Headers">
    <wsdl:part name="Metadata" element="tns:Metadata" />
  </wsdl:message>
  <wsdl:message name="ImageDownloadRequest">
    <wsdl:part name="parameters" element="tns:ImageDownloadRequest" />
  </wsdl:message>
  <wsdl:message name="ImageDownloadRequest_Headers">
    <wsdl:part name="ImageId" element="tns:ImageId" />
  </wsdl:message>
  <wsdl:message name="ImageDownloadResponse">
    <wsdl:part name="parameters" element="tns:ImageDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="ImageDownloadResponse_Headers">
    <wsdl:part name="DownloadedImageMetadata" element="tns:DownloadedImageMetadata" />
  </wsdl:message>
  <wsdl:portType name="IFileTransferService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/UploadFile" name="ImageUploadRequest" message="tns:ImageUploadRequest" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferService/DownloadFile" name="ImageDownloadRequest" message="tns:ImageDownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferService/DownloadFileResponse" name="ImageDownloadResponse" message="tns:ImageDownloadResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpStream" type="tns:IFileTransferService">
    <wsp:PolicyReference URI="#basicHttpStream_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransferService/UploadFile" style="document" />
      <wsdl:input name="ImageUploadRequest">
        <soap:header message="tns:ImageUploadRequest_Headers" part="Metadata" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransferService/DownloadFile" style="document" />
      <wsdl:input name="ImageDownloadRequest">
        <soap:header message="tns:ImageDownloadRequest_Headers" part="ImageId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ImageDownloadResponse">
        <soap:header message="tns:ImageDownloadResponse_Headers" part="DownloadedImageMetadata" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransferService">
    <wsdl:port name="basicHttpStream" binding="tns:basicHttpStream">
      <soap:address location="http://localhost:8117/FileTransferService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>