PhotoAlbum/PhotoAlbum.Client/PhotoAlbum.WEB/Service References/MembershipService/MembershipService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Messages.Membership" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Messages.Membership" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://beluga:8117/MembershipService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Service.Utilities.Membership" />
  <xs:import schemaLocation="http://beluga:8117/MembershipService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Messages" />
  <xs:import schemaLocation="http://beluga:8117/MembershipService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Service.Views.Membership" />
  <xs:complexType name="CreateRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Messages" base="q1:BaseRequest">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Utilities.Membership" minOccurs="0" name="AuthenticationType" type="q2:AuthenticationTypeEnum" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateRequest" nillable="true" type="tns:CreateRequest" />
  <xs:complexType name="CreateResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Messages" base="q3:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Views.Membership" minOccurs="0" name="ClaimIdentityView" nillable="true" type="q4:ClaimIdentityView" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateResponse" nillable="true" type="tns:CreateResponse" />
  <xs:complexType name="LoginRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Messages" base="q5:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginRequest" nillable="true" type="tns:LoginRequest" />
  <xs:complexType name="LoginResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Messages" base="q6:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service.Views.Membership" minOccurs="0" name="ClaimIdentityView" nillable="true" type="q7:ClaimIdentityView" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="UserProfileResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Service.Messages" base="q8:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserProfileResponse" nillable="true" type="tns:UserProfileResponse" />
  <xs:complexType name="ChangeUserPasswordRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Service.Messages" base="q9:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OldPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeUserPasswordRequest" nillable="true" type="tns:ChangeUserPasswordRequest" />
  <xs:complexType name="ChangeUserPasswordResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Service.Messages" base="q10:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeUserPasswordResponse" nillable="true" type="tns:ChangeUserPasswordResponse" />
  <xs:complexType name="ChangeUserInfoRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/Service.Messages" base="q11:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeUserInfoRequest" nillable="true" type="tns:ChangeUserInfoRequest" />
  <xs:complexType name="ChangeUserInfoResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Service.Messages" base="q12:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeUserInfoResponse" nillable="true" type="tns:ChangeUserInfoResponse" />
</xs:schema>