PhotoAlbum/PhotoAlbum.Client/PhotoAlbum.WEB/Service References/MembershipService/MembershipService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Views.Membership" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Views.Membership" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://beluga:8117/MembershipService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Service.Utilities.Membership" />
  <xs:complexType name="ClaimIdentityView">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Utilities.Membership" minOccurs="0" name="AuthenticationType" type="q1:AuthenticationTypeEnum" />
      <xs:element minOccurs="0" name="ClaimViewList" nillable="true" type="tns:ArrayOfClaimView" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimIdentityView" nillable="true" type="tns:ClaimIdentityView" />
  <xs:complexType name="ArrayOfClaimView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimView" nillable="true" type="tns:ClaimView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaimView" nillable="true" type="tns:ArrayOfClaimView" />
  <xs:complexType name="ClaimView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimView" nillable="true" type="tns:ClaimView" />
</xs:schema>