PhotoAlbum/PhotoAlbum.Client/PhotoAlbum.WEB/Service References/MembershipService/MembershipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MembershipService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://beluga:8117/MembershipService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://beluga:8117/MembershipService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://beluga:8117/MembershipService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Messages.Membership" />
      <xsd:import schemaLocation="http://beluga:8117/MembershipService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Messages" />
      <xsd:import schemaLocation="http://beluga:8117/MembershipService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Service.Utilities.Membership" />
      <xsd:import schemaLocation="http://beluga:8117/MembershipService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://beluga:8117/MembershipService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Service.Views.Membership" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMembershipService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfile" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ChangeUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPassword" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ChangeUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ChangeUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserInfo" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ChangeUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMembershipService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/Create" message="tns:IMembershipService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/CreateResponse" message="tns:IMembershipService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/Login" message="tns:IMembershipService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/LoginResponse" message="tns:IMembershipService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetProfile" message="tns:IMembershipService_GetProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetProfileResponse" message="tns:IMembershipService_GetProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/ChangeUserPassword" message="tns:IMembershipService_ChangeUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/ChangeUserPasswordResponse" message="tns:IMembershipService_ChangeUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/ChangeUserInfo" message="tns:IMembershipService_ChangeUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/ChangeUserInfoResponse" message="tns:IMembershipService_ChangeUserInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMembershipService" type="tns:IMembershipService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/ChangeUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserInfo">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/ChangeUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MembershipService">
    <wsdl:port name="BasicHttpBinding_IMembershipService" binding="tns:BasicHttpBinding_IMembershipService">
      <soap:address location="http://beluga:8117/MembershipService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>