PhotoAlbum/PhotoAlbum.Client/PhotoAlbum.WEB/Service References/PhotoService/PhotoAlbumService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Messages.Photo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Messages.Photo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://beluga:8117/PhotoAlbumService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PhotoDescriptionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageRating" type="xs:double" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoId" type="ser:guid" />
      <xs:element minOccurs="0" name="TimeOfCreation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoDescriptionDto" nillable="true" type="tns:PhotoDescriptionDto" />
  <xs:complexType name="ArrayOfPhotoDescriptionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoDescriptionDto" nillable="true" type="tns:PhotoDescriptionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoDescriptionDto" nillable="true" type="tns:ArrayOfPhotoDescriptionDto" />
</xs:schema>